{% extends 'base.html' %}

{% block title %}Tutorial: Get JSON Data{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">Tutorial to Get JSON Data of Following and Followers</h1>
            
            <div class="content">
                <ol>
                    <li>Go to your Instagram profile.</li>
                    <li>Click the top-right icon with three horizontal lines.</li>
                    <li>Click "Account Center".</li>
                    <li>In account settings, select "Your Information and Permissions".</li>
                    <li>Click "Download Your Information".</li>
                    <li>Click "Download or Transfer Information".</li>
                    <li>Select your account.</li>
                    <li>Select "Some of your information".</li>
                    <li>In the "Connections" section, select "Followers and Following".</li>
                    <li>Download to your device.</li>
                    <li>Set the date range to "All time" and format to "JSON".</li>
                    <li>Click the "Create Files" button.</li>
                    <li>After a few minutes, navigate to "Download Your Information".</li>
                </ol>
            </div>
        </div>
    </section>
{% endblock %}
