<!DOCTYPE html>
<html>
<head>
    <title>Upload Files or Enter JSON Text</title>
</head>
<body>
    <h1>Upload Following and Followers JSON Files or Enter JSON Text</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'upload_file' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    {% if form.errors %}
        <div style="color: red;">
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}: {{ errors|striptags }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</body>
</html>