{% extends 'base.html' %}

{% block title %}Upload Files or Enter JSON Text{% endblock %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-12-desktop is-12-tablet is-12-mobile">
            <div class="field">
                <h1 class="title has-text-centered">Upload Following and Followers JSON Files or Enter JSON Text</h1>
            </div>
        </div>
    </div>
    
    <div class="columns is-centered">
        <div class="column is-12-desktop is-12-tablet is-12-mobile">
            <div class="notification is-info">
                <button class="delete"></button>
                For detailed instructions, please refer to the 'Tutorial' section in the navigation bar.
            </div>
        </div>
    </div>

    {% if messages %}
        <div class="columns is-centered">
            <div class="column is-12-desktop is-12-tablet is-12-mobile">
                {% for message in messages %}
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if form.errors %}
        <div class="columns is-centered">
            <div class="column is-12-desktop is-12-tablet is-12-mobile">
                <div class="notification is-danger">
                    <button class="delete"></button>
                    <ul>
                        {% for field, errors in form.errors.items %}
                            <li><strong>{{ field|title }}:</strong> {{ errors|striptags }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data" action="{% url 'upload_file' %}">
        {% csrf_token %}

        <div class="columns is-centered" id="file-upload-section">
            <div class="column is-12-desktop is-12-tablet is-12-mobile">
                <!-- File Upload Section: Top Card -->
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Upload Files</p>
                    </div>
                
                    <div class="card-content">
                        <div class="columns is-multiline">
                            <div class="column is-half-desktop is-full-tablet">
                                <div class="field">
                                    <label class="label">Following File</label>
                                    <div id="file-js-example-following" class="file is-boxed is-success has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="following_file">
                                            <span class="file-cta">
                                                <span class="file-icon">
                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                </span>
                                                <span class="file-label">
                                                    Choose a file…
                                                </span>
                                            </span>
                                            <span class="file-name">No file uploaded</span>
                                        </label>
                                    </div>
                                    {% if form.following_file.errors %}
                                        <p class="help is-danger">{{ form.following_file.errors|striptags }}</p>
                                    {% endif %}
                                </div>
                            </div>
                
                            <div class="column is-half-desktop is-full-tablet">
                                <div class="field">
                                    <label class="label">Followers File</label>
                                    <div id="file-js-example-followers" class="file is-boxed is-success has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="followers_file">
                                            <span class="file-cta">
                                                <span class="file-icon">
                                                    <i class="fas fa-cloud-upload-alt"></i>
                                                </span>
                                                <span class="file-label">
                                                    Choose a file…
                                                </span>
                                            </span>
                                            <span class="file-name">No file uploaded</span>
                                        </label>
                                    </div>
                                    {% if form.followers_file.errors %}
                                        <p class="help is-danger">{{ form.followers_file.errors|striptags }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns is-centered" id="json-text-section">
            <div class="column is-12-desktop is-12-tablet is-12-mobile">
                <!-- JSON Text Input Section: Bottom Card -->
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Enter JSON Text</p>
                    </div>
                    <div class="card-content">
                        <div class="columns is-multiline">
                            <div class="column is-half-desktop is-full-tablet">
                                <div class="field">
                                    <label class="label">Following JSON Text</label>
                                    <div class="control">
                                        <textarea class="textarea is-link" name="following_text" placeholder="Enter Following JSON Text" id="following-text">{{ form.following_text.value|default:"" }}</textarea>
                                    </div>
                                    {% if form.following_text.errors %}
                                        <p class="help is-danger">{{ form.following_text.errors|striptags }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        

                            <div class="column is-half-desktop is-full-tablet">
                                <div class="field">
                                    <label class="label">Followers JSON Text</label>
                                    <div class="control">
                                        <textarea class="textarea is-info" name="followers_text" placeholder="Enter Followers JSON Text" id="followers-text">{{ form.followers_text.value|default:"" }}</textarea>
                                    </div>
                                    {% if form.followers_text.errors %}
                                        <p class="help is-danger">{{ form.followers_text.errors|striptags }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns is-centered">
            <div class="column is-12-desktop is-12-tablet is-12-mobile">
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary is-outlined is-fullwidth">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block extra_foot %}
<script>
    const fileInputFollowing = document.querySelector("#file-js-example-following input[type=file]");
    const fileInputFollowers = document.querySelector("#file-js-example-followers input[type=file]");
    const followingText = document.querySelector("#following-text");
    const followersText = document.querySelector("#followers-text");
    const fileUploadSection = document.querySelector("#file-upload-section");
    const jsonTextSection = document.querySelector("#json-text-section");

    fileInputFollowing.onchange = () => {
        const fileName = document.querySelector("#file-js-example-following .file-name");
        if (fileInputFollowing.files.length > 0) {
            fileName.textContent = fileInputFollowing.files[0].name;
            jsonTextSection.style.display = 'none';
        } else {
            fileName.textContent = 'No file uploaded';
            jsonTextSection.style.display = 'block';
        }
    };

    fileInputFollowers.onchange = () => {
        const fileName = document.querySelector("#file-js-example-followers .file-name");
        if (fileInputFollowers.files.length > 0) {
            fileName.textContent = fileInputFollowers.files[0].name;
            jsonTextSection.style.display = 'none';
        } else {
            fileName.textContent = 'No file uploaded';
            jsonTextSection.style.display = 'block';
        }
    };

    followingText.oninput = () => {
        if (followingText.value.trim() !== "" || followersText.value.trim() !== "") {
            fileUploadSection.classList.add('is-hidden');
        } else {
            fileUploadSection.classList.remove('is-hidden');
        }
    };

    followersText.oninput = () => {
        if (followingText.value.trim() !== "" || followersText.value.trim() !== "") {
            fileUploadSection.classList.add('is-hidden');
        } else {
            fileUploadSection.classList.remove('is-hidden');
        }
    };

    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script>
{% endblock %}